@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --solid-bg: #ffffff;
  --solid-border: #171717;
}

html[data-theme="dark"] {
  --background: #151515;
  --foreground: #ededed;
  --solid-bg: #151515;
  --solid-border: #ededed;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@layer utilities {
  .font-primary {
    font-family: var(--font-primary);
  }
  .font-secondary {
    font-family: var(--font-secondary);
  }
  .font-textual {
    font-family: var(--font-textual);
  }
}

@media (prefers-color-scheme: dark) {
  html:not([data-theme]) {
    --background: #151515;
    --foreground: #ededed;
    --solid-bg: #151515;
    --solid-border: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  --font-primary: var(--font-jersey-10-sans);
  --font-secondary: var(--font-kode-mono-sans);
  --font-textual: var(--font-jost-sans);
  transition:
    background-color 1s ease,
    color 1s ease;
}

html {
  scroll-behavior: smooth;
}

.theme-toggle {
  background: var(--foreground);
  border: 1px solid var(--background);
  color: var(--background);

  transition:
    background-color 1s ease,
    border-color 1s ease,
    color 1s ease;
}

.theme-toggle::before {
  content: "";
  position: absolute;
  inset: 0;
  background: var(--background);
  border-radius: 50%;

  transform: scale(0);
  transition: transform 0.7s ease;
  z-index: 0;
}

html[data-theme="dark"] .theme-toggle::before,
html[data-theme="light"] .theme-toggle::before {
  transform: scale(2.5);
}

html[data-theme="light"] .theme-toggle {
  background: var(--background);
  color: var(--foreground);
  border-color: var(--foreground);
}

html[data-theme="dark"] .theme-toggle {
  background: var(--background);
  color: var(--foreground);
  border-color: var(--foreground);
}

html[data-theme="dark"] .lighty-border {
  border-color: oklch(26.862% 0.00003 271.152)
}

html[data-theme="light"] .lighty-border {
  border-color: oklch(92.191% 0.0001 271.152);
}

html[data-theme="light"] .devicon-box {
  box-shadow: inset;
  background: radial-gradient(
    circle 34px at 50% 50%,
    oklch(92.191% 0.0001 271.152) 60%,
    #ffffff 100%
  );
}

html[data-theme="dark"] .devicon-box {
  box-shadow: inset;
  background: radial-gradient(
    circle 34px at 50% 50%,
    oklch(26.862% 0.00003 271.152) 60%,
    oklch(20.463% 0.00002 271.152) 100%
  );
}

html[data-theme="light"] .stack-label {
  background: var(--foreground);
  color: var(--background);
}

html[data-theme="dark"] .stack-label {
  background: var(--foreground);
  color: var(--background);
}

html[data-theme="dark"] .text-color-soft {
  color: oklch(0.87 0 0);
}

html[data-theme="light"] .text-color-soft {
  color: oklch(0.371 0 0);
}

html[data-theme="dark"] .text-color-softier {
  color: oklch(0.708 0 0);
}

html[data-theme="light"] .text-color-softier {
  color: oklch(0.439 0 0);
}

@media screen and (min-width: 1900px) and (min-height: 1400px) {
    body, html {font-size: 1.5vh;}
    .expanded-column {
      max-width: 1000px;
    }
}

@media screen and (min-width: 1900px) and (min-height: 2000px) {
    body, html {font-size: 1.25vh;}
}

@media screen and (min-width: 1990px) {
    body, html {font-size: 2vh;}
}

@keyframes scaleIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.animate-scaleIn {
  animation: scaleIn 0.3s ease-out;
}
